:root {
    --font-outfit: "Outfit", serif;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-48: 48px;
    --fs-72: 72px;
    /* ----weight---- */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* ----line-height---- */
    --lh-20: 20.16px;
    --lh-24: 24px;
    --lh-25: 25.2px;
    --lh-28: 28.8px;
    --lh-30: 30px;
    --lh-57: 57.6px;
    --lh-86: 86.4px;
    /* ----color---- */
    --grey: #B3B2B6;
    --dark-white: #CDCDD2;
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-72 {
    font-size: var(--fs-72);
}

/* ==========font-weight============== */
.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

/* ==========line-height============== */
.lh-20 {
    line-height: var(--lh-20);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-25 {
    line-height: var(--lh-25);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-57 {
    line-height: var(--lh-57);
}

.lh-86 {
    line-height: var(--lh-86);
}

/* ==========color============== */
.text-grey-hover {
    color: var(--grey);
}

.text-grey {
    color: var(--grey);
}

.dark-white {
    color: var(--dark-white);
}

@media (max-width:576px) {
    :root {
        --fs-72: 50px;
        --fs-48: 28px;
        --lh-86: 53px;
    }
}